---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";

/* --- Ваши кастомные стили --- */
html[data-bs-theme="dark"] {
  img:not(.no-invert) {
    filter: invert(1) hue-rotate(180deg);
    opacity: 0.85;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}