img#logo {
    border-radius: 20px;
    width:47px;
    position:absolute;
    top:-50px;
    padding-right:60px;
    background-color: black;
    cursor: pointer;
}
body {
    background-image:url('../img/bg-4k.jpg');
    background-size:cover;
    background-color:black;
    margin:0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    list-style:none;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:0;
    padding:100px 60px 60px 60px;
    background-color:rgba(25,25,28, 0.85);
    box-shadow: 0 0 23px 13px rgb(25,25,28);
    border-radius: 30px;
    position: relative;
}
nav ul li {
    margin: 10px 0;
    position:relative;
}

/* Water effect styling */
.water-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color:antiquewhite;
    font-size: 1.8em;
    font-weight: 700;
    padding-left: 13px;
    border-left: 3px solid antiquewhite;
    overflow: hidden;
}

.water-link .normal-text {
    position: relative;
    display: block;
    transition: all 0.3s ease;
}

.water-link .water-effect {
    position: absolute;
    top: 0;
    left: 13px;
    color: rgb(200,200,0);
    clip-path: polygon(0% 45%, 7% 42%, 13% 40%, 20% 41%,
        26% 42%, 32% 46%, 37% 51%, 44% 53%, 51% 55%, 55%
        60%, 64% 60%, 71% 62%, 80% 62%, 84% 59%, 90% 57%,
        94% 55%, 98% 54%, 100% 51%, 100% 100%, 0% 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.water-link:hover .normal-text {
    color: antiquewhite;
}

.water-link:hover .water-effect {
    opacity: 1;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 45%, 7% 42%, 13% 40%, 20% 41%,
            26% 42%, 32% 46%, 37% 51%, 44% 53%, 51% 55%, 55%
            60%, 64% 60%, 71% 62%, 80% 62%, 84% 59%, 90% 57%,
            94% 55%, 98% 54%, 100% 51%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 63%, 4% 61%, 9% 63%, 14% 66%, 20% 67%, 29% 67%, 36% 67%, 45% 64%, 52% 60%, 60%
            57%, 67% 54%, 74% 53%, 79% 49%, 85% 47%, 89% 47%,
            94% 44%, 96% 41%, 100% 37%, 100% 100%, 0% 100%);
    }
}

nav ul li a:visited {
    color:rgb(200,200,0);
    border-left-color:rgb(200,200,0)
}

img#logo {
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
    padding-left: 0;
    padding-right: 60px;
}

img#logo.moved {
    padding-left: 60px;
    padding-right: 0;
}